{% extends "index.html" %}



{% block title %}Чат{% endblock title %}

{% block content %}

<div class="container">
    
    {% for mess in chat_messages %}
    <p><strong>{{ mess.author.username }}</strong> ({{ mess.timestamp }}): {{ mess.content }}</p>
    
    {% endfor %}

</div>

<div class="container">
    <form action="{% url "create_message" chat.id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="input1" class="form-label">
            </label>
            <textarea name="content" id="input1" class="form-control"></textarea>
            <button type="submit">Отправить</button>
        </div>
    </form>
</div>
{% endblock content %}