<div class="flex-grow-1 overflow-auto p-3" id="chat-messages">
    {% for mess in chat_messages %}
        <p><strong>{{ mess.author.username }}</strong> ({{ mess.timestamp|date:"H:i" }}): {{ mess.content }}</p>
    {% empty %}
        <p>Сообщений пока нет.</p>
    {% endfor %}
</div>

<div class="border-top border-secondary p-3">
    <form hx-post="{% url message_post_url chat.id %}"
          hx-target="#chat-messages"
          hx-select="#chat-messages"
          hx-swap="innerHTML scroll:bottom"
          hx-on::after-request="this.reset()">
        {% csrf_token %}
        <textarea name="content" class="form-control" rows="2" required
          onkeydown="if(event.keyCode==13 && !event.shiftKey){event.preventDefault(); this.form.requestSubmit();}"></textarea>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<script>
    (function() {
        const chatId = {{ chat.id }};
        const chatType = "{{ chat_type }}";  // будет 'task' или 'service'
        const socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + chatType + '/' + chatId + '/');

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const messagesDiv = document.getElementById('chat-messages');
            const newMsg = document.createElement('p');
            newMsg.innerHTML = '<strong>' + data.author + '</strong> (' + data.timestamp + '): ' + data.content;
            messagesDiv.appendChild(newMsg);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        };
    })();
</script>