{% extends "index.html" %}

{% block title %}Товар{% endblock title %}

{% block content %}
    <div class="container card bg-dark text-light border-secondary">
        <div class="card-body">
            <h2 class="card-title"> {{service.title}} </h2>
            <p class="card-text">{{service.description}}</p>
            <a href="" class="btn btn-primary">Откликнуться</a>
            <br>
        <a href="{% url 'detail_user' slug=service.user.profile.slug %}" class="text-decoration-none">Заказчик {{service.user}}</a>
        <p>Дата создание{{service.}}</p>
        </div>

    </div>
{% endblock content %}