{% extends "index.html" %}

{% block title %}Список задач{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for serv in service %}
                <div class="col">
                    <div class="text-light card bg-dark border-secondary h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ serv.title }}</h5>
                            <p class="card-text flex-grow-1">
                                {{ serv.description|truncatechars:100 }}
                                {% if serv.description|length > 100 %}
                                    <a href="{% url 'shop:detail_service' serv.pk %}" class="text-info">...читать далее</a>
                                {% endif %}
                            </p>
                            <a href="{% url 'shop:update_service' slug=serv.slug %}" class="btn btn-warning mt-auto">Редактирвать</a>
                            <a href="{% url 'service_offers_task' service_slug=serv.slug %}" class="btn btn-primary mt-1">Офферы</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}