{% extends "index.html" %}

{% block content %}

    <div class="card bg-dark border-secondary text-light">
        <div class="card-body"> 
            <form method="post">
                {% csrf_token %} 
                
                <div class="mb-3">
                    <label for="title" class="form-label">Название услуг</label>
                    <input type="text" name="title" class="form-control" placeholder="Название">
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea name="description"  class="form-control" rows="3" placeholder="Введите описание услуги"></textarea>
                </div>
               <div class="mb-3">
                    <label for="price" class="form-label">Стоимость</label>
                    <input type="number" name="price" min="0" class="form-control">  <!-- ← добавил class -->
                </div>
                <button type="submit" class="btn btn-primary mt-2">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}