<div class="">
<div id="user-menu" style="transform: scale(1); transform-origin: top right" >   
    <!-- тут нужно изменить все название это для продавца -->
    <div class="btn-group" role="group">
        <div class="dropdown position-relative" data-bs-theme="dark">
            <button class="btn btn-outline-primary dropdown-toggle rounded-end-0" type="button" data-bs-toggle="dropdown">
                Тип аккаунта 
            </button>
            <ul class="dropdown-menu" style="z-index: 999999; position: absolute;">
                {% if user.profile.status %}
                    <li><a href="#" class="dropdown-item text-primary">✓ Вы продавец</a></li>
                    <li>
                        <a hx-post="{% url 'change_to_buyer' %}"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                           hx-target="#user-menu"     
                           hx-swap="outerHTML"        
                           href="#"
                           class="dropdown-item">Стать покупателем</a>
                    </li>
                {% else %}
                    <li>
                        <a hx-post="{% url 'change_to_salesman' %}"
                           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                           hx-target="#user-menu"     
                           hx-swap="outerHTML"        
                           href="#"
                           class="dropdown-item">Стать продавцом</a>
                    </li>
                    <li><a href="#" class="dropdown-item text-primary">✓ Вы покупатель</a></li>
                {% endif %}
            </ul>
        </div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary rounded-0">Выход</button>
        </form>
        <a href="{% url 'shop:form_servace_name' %}" class="btn btn-outline-primary">Создать услугу</a>
        <a href="{% url 'shop:list_service_my' %}" class="btn btn-outline-primary">Список моих услуг</a>
        <a href="{% url 'shop:list_task' %}" class="btn btn-outline-primary">Список задач</a>
        <!-- нужно создать прецтавление для списока своих услуг -->
        
        <a href="{% url 'detail_user_my' %}" class="btn btn-outline-primary">Профиль</a>
        <!-- Это чат его нужно будет доделать -->
        <a href="{% url 'detail_user_my' %}" class="btn btn-outline-primary">Чат</a>
    </div>
</div>
</div>