{% extends "index.html" %}

{% block title %}Список задач{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% for tk in task %}
                <div class="col">
                    <div class="text-light card bg-dark border-secondary h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ tk.title }}</h5>
                            <p class="card-text flex-grow-1">
                                {{ tk.description|truncatechars:100 }}
                                {% if tk.description|length > 100 %}
                                    <a href="{% url 'shop:detail_task' tk.pk %}" class="text-info">...читать далее</a>
                                {% endif %}
                            </p>
                            <a href="{% url 'list_offers_task' task_slug=tk.slug %}" class="btn btn-primary">Офферы</a>
                            <a href="{% url 'shop:update_task' slug=tk.slug %}" class="btn btn-warning mt-1">Редактирвать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}