{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head> 
<body class="bg-dark text-light pt-3 p-2" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div style="position: fixed; top: 10px; right: 10px; z-index: 9999;">
            
            {% if not user.is_authenticated %}
               
                <div hx-get="{% url 'menu_guest' %}" 
                     hx-trigger="load" 
                     hx-swap="innerHTML">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- Тут нужно будет добавить 2 меню для продавца и покупателя -->
                <div hx-get="{% url 'menu_user' %}" 
                     hx-trigger="load" 
                     hx-swap="innerHTML">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Загрузка меню...</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            
        
        
    </div>

 
<div style="height: 70px;"></div>

    {% block content %}
    <h1 class="text-center mt-4" >Главная</h1>

    <div >
        <div style="background-image: url('{% static 'images/background-stripes-aside-tear-2.png' %}');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-height: 200px;"
                > 
        </div>
        
        {% if  user.is_authenticated%}
        <div >
            <div style="display: flex; justify-content: space-around;">
                <h2>
                    Ваши заказы
                </h2>
                
                <h2>
                    Ваши услуги
                </h2>
            </div>
            <div style="display: flex; justify-content: space-around;">
                <div class="w-50"    hx-get="{% url 'shop:list_htmx_task' %}"
                        hx-trigger="load" 
                     hx-swap="innerHTML" style="margin-right: 10px;"></div>



                <div class="w-50"    hx-get="{% url 'shop:list_htmx_service' %}"
                        hx-trigger="load" 
                     hx-swap="innerHTML"></div>
            </div>
        </div>
        {% endif %}
        <div class="">
            <hr>
            <div class="accordion accordion-flush" id="accordionExample">
                
                <div class="accordion-item   bg-black text-white">
                    <h3 class="accordion-header">
                        <button class="accordion-button bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> О продукте</button>
                    </h3>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body ">
                                Это пет-проект не полнаценный сайт 
                            </div>
                        </div>
                
                <div class="accordion-item   bg-black text-white">
                    <h3 class="accordion-header">
                        <button class="accordion-button bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> Автор</button>
                    </h3>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body ">
                                Мой GIT <a href="https://github.com/Iligiz2007" class="btn btn-outline-info" target="_blank">Iligiz</a>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

    <script src="https://unpkg.com/htmx.org@2.0.7"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>